html {
    position: relative;
    height: 100%;
}
div.panel {
    position:relative;
    height: 610px;
    left: 2%;
    width: 96%;
    background: #140048;
    background-image: linear-gradient(180deg, #140048, #140048); /* Placeholder Gradient */
    border-radius: 20px;
}
div.plug {
    position:relative;
    height: 110px;
    left: 8%;
    width: 60%;
    background: #140048;
    background-image: linear-gradient(180deg, #140048, #140048); /* Placeholder Gradient */
    border-radius: 20px;
}
h1.title {
	color: #140048;
	font: 48px Cornerstone, sans-serif;
	margin-left: 2%;
	margin-bottom: 2px;
	word-spacing: -10px;
}
h4.title {
	color: #140048;
	font: 24px Cornerstone, sans-serif;
	margin-left: 2%;
	margin-top: 2px;
}
body {
  	background-color: #7C67FF;
  	background-image: linear-gradient(19deg, #21D4FD, #B721FF);
    background-size: contain;
}
button.lightmode {
    border: 5px solid #140048;
    border-radius: 10px;
    background-image: url('Images/Sun.png');
    background-size: contain;
    cursor: pointer;
    position: absolute;
    background-color: transparent;
    right: 3%;
    top: 32px;
    width: 72px;
    height: 72px;
    transition: .3s;
}
button.lightmode:hover {
    transform: scale(1.07);
}
p.expl {
    font: 24px Prime, sans-serif;
    color: #000000;
}
button.menu {
    border: 7px solid transparent;
    border-radius: 20px;
    font: 30px Cornerstone, sans-serif;
    color: white;
    padding-top: 4px;
    width: 31.333%;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(60deg, #FF0000, #FFFF00);
    background-origin: border-box;
    box-shadow: -500px 0px #140048 inset;
    cursor:pointer;
    position: absolute;
    height: 70px;
    transition: .3s;
}
button.menu:hover {
    transform: scale(1.07);
    box-shadow: none;
}
