#panel {
    position:relative;
    height: 800px;
    left: 2%;
    width: 96%;
    bottom: 20px;
    background: #140048;
    background-image: linear-gradient(180deg, #140048, #140048); /* Placeholder Gradient */
    border-radius: 20px;
}
h1.title {
	color: 140048;
	font: 48px Cornerstone, sans-serif;
	margin-left: 2%;
	margin-bottom: 2px;
	word-spacing: -10px;
}
h4.title {
	color: 140048;
	font: 18px Cornerstone, sans-serif;
	margin-left: 2%;
	margin-top: 2px;
	margin-bottom:60px;
}
h4.button {
	color: white;
	font: 18px Cornerstone, sans-serif;
}
body {
  	background-color: #BFFF00;
  	background-image: linear-gradient(19deg, #21D4FD, #B721FF);
}
.lightmode {
    border: 5px solid #140048;
    border-radius: 10px;
    background-image: url('Images/Sun.png');
    background-size: contain;
    text-align: center;
    line-height: 72px;
    font: 18px Cornerstone, sans-serif;
    display: inline-block;
    text-decoration: none;
    color: #140048;
    cursor: pointer;
    position: absolute;
    right: 3%;
    top: 32px;
    width: 72px;
    height: 72px;
}